/** iconfont图标 */
@import "./iconfont/iconfont.css" ;

/** 全局样式预设 */
a {
    text-decoration: none;
}

h1, h2, h3 {
  color: #333;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  margin: 0;
  padding: 0;
}



