@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1585724610246'); /* IE9 */
  src: url('iconfont.eot?t=1585724610246#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJoAAsAAAAABhAAAAIbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAocPwE2AiQDCAsGAAQgBYRtBy4bYwUR1Ysnsi8hJxt6AEhUmETQoSXeRRwMTD3sf1ApnIIEAAAAAIiHp/36nTszb/9802SCeRaxpJqoKglSI0RCgVA0ikXybm6Grn1hIhRLcq/B//KMpN3phfyCidw89ogDPPMbq1P+XwBkhepxEQz5PJfTm0AHMj/Qud41F405qHfUCzAOpED3wCiyEsq4YeyCF/iYQJdJK8WOXQdOqAp7VSBu37h2QS0kFIWVq9BqOFjEW42aXqcPvIm+H3/WRyVpMrvryNWdl235zqnKj9o7HRCSBHS8QcZKFOJEY+GQLBiXdZ0uZlEUwXftsV8c1SPYX2e39oBxWAy+81YKkOCxpsromHSMyHf7cFNrNVvgz/L5NAgEn4fO9V//Vwr41JlH7mJYiLpOMHh3deBQMQy2LxVNbbQn8wQJXbrQxpEh36YOnKgSqtEJoQ4TGbJqnizsSjS6bURLtRldVth9vNuwO7IonVjuOUAY8A5Jn/fIBnwkC/sVjTH/0DIQGV1OxeXCbotheVNwVTxg+4PfuZAbUBO339C+0yp5Q8S/UE6fhqHty+UFC8oSW86PHVUJSDjDDJ7DlBiqcMBdW6dap66jpje1O+fGKLgqHrD9we9cKBivpvL5G9p3WqVDV1e+UE4/OwxtP4BcrGWQ7lFeOT92VCUg4QwzmIcpMdTmeQF3bd2EXJ06ZxQNtbbb2/PfnYAutiuF05+5zN/SNAAAAA==') format('woff2'),
  url('iconfont.woff?t=1585724610246') format('woff'),
  url('iconfont.ttf?t=1585724610246') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1585724610246#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e615";
}

